.customers-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px;
}

.customer-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.customer-image {
  margin: 15px;
}

.customer-image img {
  border-radius: 10px;
}

nav {
  margin-bottom: 15px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #3273dc;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 18pt;
  margin-bottom: 10px;
}